body{
  font-family:  "Avenir Next";
}
li{
  list-style: none;
}
header {
  height: 100px;
  width: 100%;
  background-color:#FF4546;
}
/*ロゴ*/
.header-left {
  float: left;
  padding-left: 20px;
}
.container{
  width: 1170px;
  margin: 0 auto;
  text-align: center;

}
.title{
  position:relative;
  top: 50px;
  right: 20px;
}
.top-wrapper{
  padding: 90px 0 200px 0;
  background-image: url("5.png");
  color: white;
  background-size:cover;
}
.top-wrapper h1{
  font-size: 45px;
  letter-spacing:5px;

}
.top-wrapper p{
  font-size: 20px;
  font-weight:bold;
}
.btn{
  padding: 8px 24px;
  color:white;
  display: inline-block;
  border-radius: 10px;
}
.signup{
  background-color:#FF4546;
  text-decoration:none;
}
.facebook{
  background-color:#3b5998;
  text-decoration:none;
}
.btn-wrapper{
  margin:20px 0;
}
.btn-wrapper p{
  margin:20px;
}
